Repository FE-Midas-Consultores/create-midas-front, changes with the labels that .github/labeler.yml gives for each.
All labels: 💻 source, 📝 documentation, 🏭 build, ⚙️ configuration, 📦 dependencies, 🤖 ci/cd, 🏠 github configuration

.github/labeler.yml:

💻 source:
  - changed-files:
      - any-glob-to-any-file:
          - src/**

📝 documentation:
  - changed-files:
      - any-glob-to-any-file:
          - README.md

🏭 build:
  - changed-files:
      - any-glob-to-any-file:
          - .node-version
          - tsconfig.json
          - tsup.config.ts

⚙️ configuration:
  - changed-files:
      - any-glob-to-any-file:
          - .commitlintrc.json
          - .editorconfig
          - .eslintignore
          - .eslintrc.json
          - .gitignore
          - .lintstagedrc.json
          - .node-version
          - .prettierignore
          - .prettierrc.json
          - .tsconfig.json
          - .tsup.config.ts

📦 dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - pnpm-lock.yaml

🤖 ci/cd:
  - changed-files:
      - any-glob-to-any-file:
          - .github/dependabot.yml
          - .github/workflows/**
          - .husky/**

🏠 github configuration:
  - changed-files:
      - any-glob-to-any-file:
          - .github/labeler.yml
          - .github/labels.yml
          - .github/settings.yml

chore(lintstaged): pass config file to avoid run inner lintstaged configs
  .husky/pre-commit
Labels: 🤖 ci/cd

chore(deps): add rimraf
  package.json
  pnpm-lock.yaml
Labels: 📦 dependencies

chore(templates): remove eslint legacy config files
  src/templates/next-ts/.eslintignore
  src/templates/next-ts/.eslintrc.json
  src/templates/next/.eslintignore
  src/templates/next/.eslintrc.json
  src/templates/react-ts/.eslintignore
  src/templates/react-ts/.eslintrc.json
  src/templates/react/.eslintignore
  src/templates/react/.eslintrc.json
Labels: 💻 source

refactor(cli): unify generators into `createProject`
  src/constants/generators.ts
  src/constants/templates.ts
  src/generators/base.ts
  src/generators/create-project.ts
  src/generators/react.ts
  src/index.ts
  src/utils/build-dependencies.ts
  src/utils/get-project-name.ts
  src/utils/get-template.ts
  src/utils/get-templates.ts
  src/utils/get-ts-preference.ts
  src/utils/handle-folder-conflict.ts
  src/utils/setup-project.ts
  src/utils/show-next-steps-message.ts
Labels: 💻 source

ci: update dependabot and release-please workflows
  .github/dependabot.yml
  .github/workflows/release-please.yml
Labels: 🤖 ci/cd

chore(deps): add execa and vitest
  package.json
  pnpm-lock.yaml
Labels: 📦 dependencies

test: add cli test suite
  src/test/cli.test.ts
Labels: 💻 source

ci: add pull request workflow
  .github/workflows/pull-request.yml
Labels: 🤖 ci/cd

docs: update `README.md`
  README.md
Labels: 📝 documentation

docs: update `README.md` (#213)
  README.md
Labels: 📝 documentation

fix(deps): update `pnpm-lock`
  pnpm-lock.yaml
Labels: 📦 dependencies

fix(deps): update `pnpm-lock` (#218)
  pnpm-lock.yaml
Labels: 📦 dependencies

ci(labels): add chore label
  .github/labels.yml
Labels: 🏠 github configuration
