Repository FE-Midas-Consultores/create-midas-front, changes with the labels that .github/labeler.yml gives for each.
All labels: 💻 source, 📝 documentation, 🏭 build, ⚙️ configuration, 📦 dependencies, 🤖 ci/cd, 🏠 github configuration

feat: update template `README.md`
  src/templates/README.md
Labels: 💻 source

feat: update template `README.md` (#23)
  src/templates/README.md
Labels: 💻 source

chore(eslint): add shadcn directory to the ignored files
  src/templates/next/js/.eslintignore
  src/templates/next/ts/.eslintignore
  src/templates/react/js/.eslintignore
  src/templates/react/ts/.eslintignore
Labels: 💻 source

chore(eslint): add prop-type rule
  src/templates/next/js/.eslintrc.json
  src/templates/next/ts/.eslintrc.json
  src/templates/react/js/.eslintrc.json
  src/templates/react/ts/.eslintrc.json
Labels: 💻 source

chore(pkg-json): remove carets
  src/templates/next/js/package.json
  src/templates/next/ts/package.json
  src/templates/react/js/package.json
  src/templates/react/ts/package.json
Labels: 💻 source

chore(alias): update import alias to match shadcn config
  src/templates/react/js/jsconfig.json
  src/templates/react/ts/tsconfig.app.json
  src/templates/react/ts/tsconfig.json
Labels: 💻 source

fix: update templates (#37)
  src/templates/next/js/.eslintignore
  src/templates/next/js/.eslintrc.json
  src/templates/next/js/package.json
  src/templates/next/ts/.eslintignore
  src/templates/next/ts/.eslintrc.json
  src/templates/next/ts/package.json
  src/templates/react/js/.eslintignore
  src/templates/react/js/.eslintrc.json
  src/templates/react/js/jsconfig.json
  src/templates/react/js/package.json
  src/templates/react/ts/.eslintignore
  src/templates/react/ts/.eslintrc.json
  src/templates/react/ts/package.json
  src/templates/react/ts/tsconfig.app.json
  src/templates/react/ts/tsconfig.json
Labels: 💻 source

chore: remove shebang `ExperimentalWarning`
  src/index.ts
Labels: 💻 source

fix: replace `file.parentPath` for `path`
  src/utils/read-files.ts
Labels: 💻 source

fix: rename template project (#78)
  src/index.ts
  src/utils/read-files.ts
Labels: 💻 source

chore(prettier): ignore `release-please-manifest` and `CHANGELOG` files
  .prettierignore
Labels: ⚙️ configuration

feat: add project initialization in current directory
  src/generators/next.ts
  src/generators/react.ts
  src/utils/get-project-name.ts
  src/utils/read-files.ts
  src/utils/setup-project.ts
  src/utils/show-next-steps-message.ts
Labels: 💻 source

feat: add project initialization in current directory (#81)
  .prettierignore
  src/generators/next.ts
  src/generators/react.ts
  src/utils/get-project-name.ts
  src/utils/read-files.ts
  src/utils/setup-project.ts
  src/utils/show-next-steps-message.ts
Labels: 💻 source, ⚙️ configuration

fix: replace `Promise.all` for `for of` loop
  src/utils/read-files.ts
Labels: 💻 source

refactor: move `replaceFiles` into `setupProject`
  src/generators/next.ts
  src/generators/react.ts
  src/utils/setup-project.ts
Labels: 💻 source

docs(readme): add project initialization in current directory
  README.md
Labels: 📝 documentation

fix: replace `Promise.all` for `for of` loop (#82)
  README.md
  src/generators/next.ts
  src/generators/react.ts
  src/utils/read-files.ts
  src/utils/setup-project.ts
Labels: 💻 source, 📝 documentation

chore(react-template): update tsconfig
  src/templates/react/ts/tsconfig.app.json
  src/templates/react/ts/tsconfig.json
  src/templates/react/ts/tsconfig.node.json
Labels: 💻 source

chore: update templates dependencies
  src/templates/next/js/package.json
  src/templates/next/ts/package.json
  src/templates/react/js/package.json
  src/templates/react/ts/package.json
Labels: 💻 source

chore: update project dependencies
  package.json
  pnpm-lock.yaml
Labels: 📦 dependencies

chore: update templates (#84)
  package.json
  pnpm-lock.yaml
  src/templates/next/js/package.json
  src/templates/next/ts/package.json
  src/templates/react/js/package.json
  src/templates/react/ts/package.json
  src/templates/react/ts/tsconfig.app.json
  src/templates/react/ts/tsconfig.json
  src/templates/react/ts/tsconfig.node.json
Labels: 💻 source, 📦 dependencies

bump next to v14.2.28
  src/templates/next/js/package.json
Labels: 💻 source

bump next to v14.2.28
  src/templates/next/js/package.json
Labels: 💻 source

bump next to v14.2.28
  src/templates/next/ts/package.json
Labels: 💻 source

bump next to v14.2.28 (#207)
  src/templates/next/js/package.json
Labels: 💻 source

bump next to v14.2.28 (#208)
  src/templates/next/ts/package.json
Labels: 💻 source

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

downgrade commander to 12.1.0
  package.json
Labels: 📦 dependencies

downgrade commandter on lock file
  pnpm-lock.yaml
Labels: 📦 dependencies

downgrade commander to 12.1.0 (#209)
  package.json
Labels: 📦 dependencies

downgrade commandter on lock file (#210)
  pnpm-lock.yaml
Labels: 📦 dependencies

chore(release): v1.2.4
  .release-please-manifest.json
Labels: none

chore(release): v1.2.4 (#211)
  .release-please-manifest.json
Labels: none

chore(deps): update cli deps
  package.json
  pnpm-lock.yaml
Labels: 📦 dependencies

chore(node-version): bump project `node-version`
  .node-version
Labels: 🏭 build, ⚙️ configuration

chore: remove unnecessary rule disabled
  src/utils/setup-project.ts
Labels: 💻 source

refactor: use latest secure lts or fallback to user's current node
  src/utils/add-node-version.ts
Labels: 💻 source

feat: update templates
  src/templates/next/ts/next.config.mjs
  src/templates/next/ts/next.config.ts
  src/templates/next/ts/tsconfig.json
  src/templates/react/js/jsconfig.json
  src/templates/react/js/package.json
  src/templates/react/js/src/app.jsx
  src/templates/react/js/src/main.jsx
  src/templates/react/ts/src/main.tsx
  src/templates/react/ts/tsconfig.app.json
  src/templates/react/ts/tsconfig.json
  src/templates/react/ts/tsconfig.node.json
Labels: 💻 source

refactor: move templates deps to separate `package.json` files
  src/dependencies/base/package.json
  src/dependencies/next/package.json
  src/dependencies/react/package.json
  src/dependencies/typescript/package.json
  src/dependencies/vite/package.json
  src/generators/next.ts
  src/generators/react.ts
  src/templates/next/js/package.json
  src/templates/next/ts/package.json
  src/templates/react/js/package.json
  src/templates/react/ts/package.json
  src/utils/build-dependencies.ts
  tsup.config.ts
Labels: 💻 source, 🏭 build

chore(eslint): migrate to flat config
  .eslintignore
  .eslintrc.json
  eslint.config.js
Labels: ⚙️ configuration

.github/labeler.yml:

💻 source:
  - changed-files:
      - any-glob-to-any-file:
          - src/**

📝 documentation:
  - changed-files:
      - any-glob-to-any-file:
          - README.md

🏭 build:
  - changed-files:
      - any-glob-to-any-file:
          - .node-version
          - tsconfig.json
          - tsup.config.ts

⚙️ configuration:
  - changed-files:
      - any-glob-to-any-file:
          - .commitlintrc.json
          - .editorconfig
          - .eslintignore
          - .eslintrc.json
          - .gitignore
          - .lintstagedrc.json
          - .node-version
          - .prettierignore
          - .prettierrc.json
          - .tsconfig.json
          - .tsup.config.ts

📦 dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - pnpm-lock.yaml

🤖 ci/cd:
  - changed-files:
      - any-glob-to-any-file:
          - .github/dependabot.yml
          - .github/workflows/**
          - .husky/**

🏠 github configuration:
  - changed-files:
      - any-glob-to-any-file:
          - .github/labeler.yml
          - .github/labels.yml
          - .github/settings.yml
